.about-content {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 100px;
}
.about-content-box {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.about-image-border {
    position: relative;
    height: 310px;
    width: 240px;
    border-right: 4px solid #000;
    border-bottom: 4px solid #000;
    animation-name: image-border-anim;
    animation-duration: 2s;
}
@keyframes image-border-anim{
    from {
        transform: translate(100px, 100px);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1; 
    }
}
.about-image {
    height: 310px;
    width: 240px;
    background-image: url('../img/photo.jpg');
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-30px, -30px);
    animation-name: image-anim;
    animation-duration: 2s;
}
@keyframes image-anim{
    from {
        transform: translateY(-500px);
        opacity: 0;
    }
    to {
        transform: translate(-30px, -30px);
        opacity: 1; 
    }
}
.about-txt {
    padding: 30px;
    text-align: right;
    flex-basis: 100%;
    color: #000;
    font-size: 265%;
}
.right-box {
    animation-name: txt-anim;
    animation-duration: 2s;
}
@keyframes txt-anim{
    from {
        transform: translateY(-500px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1; 
    }
}

/* RWD */
@media (max-width: 1400px) {
    .about-content {
        margin-top: 120px;
    }
    .about-txt {
        padding: 40px;
        font-size: 210%;
    }
}
@media (max-width: 992px) {
    .about-content {
        margin-top: 100px;
    }
    .about-txt {
        padding: 30px;
        font-size: 180%;
    }
    .about-image-border {
        height: 300px;
        width: 230px;
    }
    .about-image {
        height: 300px;
        width: 230px;
    }
}
@media (max-width: 768px) {
    .about-content {
        margin-top: 90px;
    }
    .about-txt {
        padding: 20px;
        font-size: 165%;
    }
    .about-image-border {
        height: 280px;
        width: 200px;
        transform: translate(-30px,-30px);
    }
    .about-image {
        height: 280px;
        width: 200px;
        transform: translate(-20px,-20px);
    }
    .left-box {
        flex-basis: 40%;
        padding-left: 30px;
    }
    .right-box {
        flex-basis: 60%;
    }
}
@media (max-width: 667px) {
    .about-content {
        margin-top: 40px;
    }
    .about-txt {
        padding: 20px;
        font-size: 195%;
    }
   .left-box {
       display: none;
   }
   .about-content-box {
    flex-basis: 90%;
    }
}
@media (max-width: 400px) {
    .about-txt {
        font-size: 170%;
    }
    .about-content-box {
        flex-basis: 100%;
    }
}

