.about-content {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 100px;
}
.about-content-box {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.about-image-border {
    position: relative;
    height: 320px;
    width: 250px;
    border-right: 4px solid #fff;
    border-bottom: 4px solid #fff;
    animation-name: image-border-anim;
    animation-duration: 2s;
}
@keyframes image-border-anim{
    from {
        transform: translate(100px, 100px);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1; 
    }
}
.about-image {
    height: 320px;
    width: 250px;
    background-image: url('../img/photo.jpg');
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-20px, -20px);
    animation-name: image-anim;
    animation-duration: 2s;
}
@keyframes image-anim{
    from {
        transform: translateY(-500px);
        opacity: 0;
    }
    to {
        transform: translate(-20px, -20px);
        opacity: 1; 
    }
}
.about-txt {
    padding: 40px;
    text-align: right;
    flex-basis: 100%;
    color: #fff;
    font-size: 270%;
    
}
.right-box {
    animation-name: txt-anim;
    animation-duration: 2s;
}
@keyframes txt-anim{
    from {
        transform: translateY(-500px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1; 
    }
}

