.contact-container {
    /* background-color: #ffffff; */
    background-color: #ea1c2c;
    height: 100vh;
    padding: 15px;
    overflow: hidden;
}
.contact-mask {
    height: 100%;
    padding-top: 150px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 4px solid #000000;
}
.contact-header {
    text-align: center;
    flex-basis: 100%;
    font-size: 120%;
    animation-name: contact-header-animation;
    animation-duration: 2s;
    position: relative;
}
@keyframes contact-header-animation {
    from{
        opacity: 0;
        transform: translate(30%);
    }
    to{
        opacity: 1;
        transform: translate(0);
    }
}
.contact-email {
    /* color: #ea1c2c; */
    color: #fff;
}
.social-container {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    animation-name: social-animation;
    animation-duration: 2s;
}
@keyframes social-animation {
    from{
        opacity: 0;
        transform: translateY(50%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.social-box {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 40px;
    transform: rotate(-30deg) skew(25deg);
    /* background-color: #ccc; */
    background-color: #da0b1b;
}
.social-box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
}
.social-box:hover span {
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.1);
    color: #ea1c2c;
    text-shadow: 0px 0px 20px rgba(234,28,44,0.9);
}
.social-box:hover span:nth-child(5) {
    transform: translate(40px,-40px);
    opacity: 1;
}
.social-box:hover span:nth-child(4) {
    transform: translate(30px,-30px);
    opacity: 0.8;
}
.social-box:hover span:nth-child(3) {
    transform: translate(20px,-20px);
    opacity: 0.6;
}
.social-box:hover span:nth-child(2) {
    transform: translate(10px,-10px);
    opacity: 0.4;
}
.social-box:hover span:nth-child(1) {
    transform: translate(0px,0px);
    opacity: 0.2;
}
