.nav-btn {
    position: fixed;
    top: 20px;
    right: 30px;
    padding: 5px;
    z-index: 3;
    font-size: 38px;
    color: #ea1c2c;
    transition: all 0.3s ease-in-out;
}
.nav-btn:hover{
    cursor: pointer;
    transform: scale(1.1);
    text-shadow: 0px 0px 20px rgba(234,28,44,0.9);
}
.navbar-container {
    overflow: hidden;
}
.nav-container {
    position: absolute;
    z-index: 2;
    background-color: rgba(255,255,255,0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s ease-in-out;
}
.links-box {
    width: 100%;
}
.link {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 26px;
    text-decoration: none;
    color: #ea1c2c;
    transition: all 0.2s ease-in-out;
}
.link:hover {
    background-color: #ea1c2c;
    color: white;
    cursor: pointer;
}
.close-nav {
    opacity: 0;
    transform: translateY(-100vh);
}
.open-nav {
    opacity: 1;
}
