.nav-btn {
    position: fixed;
    top: 20px;
    right: 30px;
    padding: 10px;
    z-index: 5;
    font-size: 38px;
    color: #000;
    transition: all 0.3s ease-in-out;
    background-color: #FFF689;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 38px;
}
.nav-logo {
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 5;
    width: 80px;
    height: 80px;
    background-image: url('../img/portfolio-logo-1.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}
.nav-btn:hover{
    cursor: pointer;
    font-size: 40px;
    background-color: #000;
    color: #FFF689;
    text-shadow: 0px 0px 20px rgba(255,246,137,0.9);
}
.navbar-container {
    overflow: hidden;
}
.nav-container {
    position: absolute;
    z-index: 4;
    background-color: rgba(0,0,0,0.98);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s ease-in-out;
}
.links-box {
    width: 100%;
}
.link {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 36px;
    text-decoration: none;
    color: #FFF689;
    transition: all 0.2s ease-in-out;
}
.link:hover {
    background-color: #FFF689;
    color: #000;
    cursor: pointer;
}
.close-nav {
    opacity: 0;
    transform: translateY(-100vh);
}
.open-nav {
    opacity: 1;
}
