.portfolio-container {
    background-color: #fff;
    height: 100vh;
    padding: 15px;
    overflow: hidden;
}
.portfolio-mask {
    height: 100%;
    padding-top: 150px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 4px solid #000000;
}
.portfolio-content {
    width: 100%;
}
.slider {
    position: relative;
    max-width: 350px;
    margin: 0 auto;
}
.slider::after {
    content: '';
    display: block;
    width: 100%;
    height: 220px;
    outline: 5px solid aqua;
    position: absolute;
    top: 0;
    left: 0;
}
