.project-container {
    width: 500px;
    height: 300px;
    background-size: cover;
    background-position: center;
    flex: 1;
    min-width: 350px;
    opacity: 0.5;
    transform: scale(0.8);
    transition: all 0.6s ease-in;
    text-align: center;
    padding: 20px;
    color: #fff;
}
.project-container.active {
    opacity: 1;
    transform: scale(1.1);
}
.project-name, .project-description {
    color: #fff;
    position: relative;
    top: -100px;
    opacity: 0;
    transition: all 0.3s ease-in;
}
.project-description {
    color: #000;
}
.project-buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: space-evenly;
    opacity: 0;
    transition: all 0.3s ease-in;
    background-color: rgba(0,0,0,0.6);
}
.project-btn {
    width: 60px;
    height: 60px;
    padding: 8px;
    border: 0;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    border-radius: 50%;
    font-size: 36px;
    text-align: center;
    z-index: 2;
    transition: all 0.4s ease-in-out;
}
.project-btn:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}
.project-container.active .project-buttons {
    opacity: 1;
}
.project-container.active .project-name,.project-container.active .project-description {
    opacity: 1;
}

/* RWD */
@media(max-width: 1024px) {
    .project-container {
        width: 450px;
        height: 270px;
        min-width: 270px;
        padding: 20px;
    }
    .project-btn {
        width: 55px;
        height: 55px;
        font-size: 32px;
    }
}
@media(max-width: 667px) {
    .project-container {
        width: 400px;
        height: 250px;
        min-width: 250px;
        padding: 20px;
    }
    .project-btn {
        width: 50px;
        height: 50px;
        padding: 8px;
        font-size: 30px;
    }
}
@media(max-width: 580px) {
    .project-container {
        width: 380px;
        height: 230px;
        min-width: 230px;
        padding: 15px;
    }
    .project-name, .project-description {
        font-size: 90%;
    }
}
@media(max-width: 480px) {
    .project-container {
        width: 340px;
        height: 220px;
        min-width: 220px;
    }
}
@media(max-width: 400px) {
    .project-container {
        width: 300px;
        height: 220px;
        min-width: 220px;
        padding: 10px;
    }
    .project-btn {
        width: 45px;
        height: 45px;
        font-size: 26px;
    }
    .project-container.active {
        transform: scale(1);
    }
}
