.project-container {
    width: 500px;
    height: 300px;
    background-size: cover;
    background-position: center;
    flex: 1;
    min-width: 350px;
    opacity: 0.5;
    transform: scale(0.8);
    transition: all 0.6s ease-in;
    text-align: center;
    padding: 20px;
    color: #fff;
}
.project-container.active {
    opacity: 1;
    transform: scale(1.1);
}
/* .project-mask {
    height: 100%;
    width: 100%;
    background-color: rgba(165, 92, 92, 0.2);
    position: absolute;
    top: 0;
    left: 0;
} */
.project-name, .project-description {
    color: #fff;
    position: relative;
    top: -100px;
    opacity: 0;
    transition: all 0.3s ease-in;
}
.project-description {
    color: #000;
}
.project-buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: space-evenly;
    opacity: 0;
    transition: all 0.3s ease-in;
}
.project-btn {
    width: 60px;
    height: 60px;
    padding: 8px;
    border: 3px solid #fff;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    border-radius: 50%;
    font-size: 36px;
    text-align: center;
    z-index: 2;
    transition: all 0.4s ease-in-out;
}
.project-btn:hover {
    background-color: #fff;
    color: #000;
    border-color: #000;
    cursor: pointer;
}
.project-container.active .project-buttons {
    opacity: 1;
}
.project-container.active .project-name,.project-container.active .project-description {
    opacity: 1;
}
